body{
    background-image: url("https://cf.kizlarsoruyor.com/q13897636/0eb12998-7670-4d9b-9b00-0bbc2dda9b55.jpg");
    background-position: center center;
    background-color: #f1f1f1; /* fallback color in case the image can't be loaded */
}

.main{
    display: flex;
    justify-content: center;
  }
.eren{
    margin-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
input{
    padding: 11px 20px;
    border-radius: 25px;
    font-size: medium;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    box-sizing: border-box;
}
button{
    border: none;
    padding: 10px 10px;
    font-size: medium;
    margin-right: 10px;
    margin-left: 10px;
    width: 300px;
    font-size: small;
}
.btn{
    border: none;
    padding: 10px 10px;
    font-size: medium;
    margin-right: 10px;
    margin-left: 10px;
    width: 300px;
    font-size: small;
}